.app-wrapper {
  display: grid;
  width: 50%;
  margin: auto;

  grid-template-areas:
    "header header hheader"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: coral;
}
